<!--
By : Diego Bryan - https://wa.me/5527999307906
-->
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabela Periódica</title>
  <link rel="stylesheet" href="/css/home/style.css">
  <script src="https://kit.fontawesome.com/6bee25835f.js" crossorigin="anonymous"></script>
  <link rel="icon" href="/image/logo.jpg" type="image/x-icon" />
</head>
	
<body>

<br>
<br>
<br>
<br>

  <div class="titulo">
    Tabela Periódica
  </div>

<br>

  <div class="description" href="https://f">
     Participantes: Diego, Matheus, Thallyson, Warley, Felipe
  </div>

<br>
    
  <div class="links">

    <a class="link" href="/game" target="_blank"> Memória Periódica </a>

    <a class="link" href="/summary" target="_blank"> Resumo </a>
  </div>
  
  <a class="link" href="/rules" target="_blank"> Regras </a>

</div>

</body>
 
</html>
