<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela Periódica<</title>
    <link rel="stylesheet" href="/css/rules/style.css">
</head>
<body>
      <!--  <iframe src="https://gamma.app/embed/9joxkgvjxtsrs8f" style="width: 700px; max-width: 100%; height: 450px" allow="fullscreen" title="Untitled"></iframe> -->
    <header>
        <h1>Regras</h1>
    </header>
    <div class="line"> </div>
    <main>
        <section>
            <h2>Regras do Jogo</h2>
            <p>
                O Jogo Memória Periódica, é perfeito para se divertir sozinho ou com amigos e familiares de todas as idades. As regras básicas são simples e fáceis de aprender, tornando-o ideal para qualquer ocasião.
            </p>
        </section>

<br>

        <section>
            <h2 class="h22">Desenvolvimento do jogo</h2>
        </section>

<br>

        <section>
            <h2> Na sua vez, vire duas cartas </h2>
            <p>
                Escolha duas cartas quaisquer e vire-as com a face para cima. 
            </p>
        </section>

        <section>
            <h2> Objetivo </h2>
            <p>
                Tente encontrar o par de cartas com a mesma figura.
            </p>
        </section>

        <section>
            <h2> Par encontrado </h2>
            <p>
                Se as cartas viradas revelarem a mesma figura, você conquista o par e as retira do jogo. Você tem direito a jogar novamente na sua próxima vez.
            </p>
        </section>

<section>
            <h2> Fim do jogo </h2>
            <p>
                O jogo termina quando todos os pares de cartas forem encontrados. O jogador que conquistar o maior número de pares vence a partida.
            </p>
        </section>

<br>

        <section>
            <h2 class="h22">Variação</h2>
        </section>

<br>

        <section>
            <h2> Memória cooperativa </h2>
            <p>
                Em vez de competir, os jogadores podem trabalhar juntos para encontrar todos os pares de cartas.
            </p>
        </section>

<br>

        <section>
            <h2 class="h22">Dicas</h2>
        </section>

<br>

        <section>
            <h2> Preste atenção à posição das cartas </h2>
            <p>
                 Tente memorizar a localização das cartas que você já virou, mesmo que não tenha encontrado o par. Isso pode te ajudar a encontrar seus pares mais tarde no jogo.
            </p>
        </section>

        <section>
            <h2> Elabore estratégias </h2>
            <p>
                 Utilize diferentes estratégias para encontrar os pares, como começar pelas cartas do centro ou pelos cantos.
            </p>
        </section>

        <section>
            <h2> Divirta-se </h2>
            <p>
                 O mais importante é se divertir e aproveitar o tempo jogando com amigos e familiares.
            </p>
        </section>



    </main>
    <footer>
        <p>Diego Bryan - Copyright &copy; 2024</p>
    </footer> 
</body>
</html>
